#msg-box5-7 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-7 .mbr-article {
  color: #ffffff;
}
#msg-box4-6 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6 .mbr-article {
  color: #ffffff;
}
